<!DOCTYPE html>
<html lang="en" ng-app="tweets">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tweet Recommender</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <style type="text/css">
      #main {
        padding-top: 60px;
      }
      .title {
        width: 20%;
      }
      .date,.hashtag {
        width: 40%;
      }
      .tweet {
        width: 40%;
      }
      td {
        cursor: pointer;
      }
      tr.selected td {
        background: #ddd;
      }
    </style>
  </head>
  <body ng-controller="TweetsController as ctl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Tweet Recs</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat="handle in handles" ng-class="getLinkClass(handle)">
              <a href="#" ng-click="chooseHandle(handle)">{{ handle.name }}</a>
            </li>
          </ul>
          <div class="navbar-form navbar-right">
            <button type="submit" class="btn btn-primary" ng-click="activeHandleUpdated()">Save</button>
          </div>
        </div>
      </div>
    </nav>
    <div class="container-fluid" id="main" ng-show="isActiveHandle()">
      <table class="table table-hover" id="feed">
        <thead>
          <tr>
            <th class="title">Title</th>
            <th class="hashtags">Hashtags</th>
            <th class="tweet">Tweet</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in activeHandle.items">
            <td class="title">
              <a href="{{ item.url }}" target="blank">{{ item.title }}</a>
            </td>
            <td class="hastags">
              {{ item.hashtags.join(' ') }}
            </td>
            <td class="tweet">
              <textarea type="text" class="form-control" ng-model="item.tweet" msd-elastic maxlength="140"></textarea>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="item.shouldTweet" />
                  Tweet
                </label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="http://monospaced.github.io/angular-elastic/elastic.js"></script>
    <script>
      angular.module('tweets', ['ngResource','monospaced.elastic'])
        .factory('Handle', function($resource) {
          var Handle = $resource('/handle/:id', { id: '@slug' }, {
            update: {
              method: 'PUT'
            }
          });
          return Handle;
        })
        .controller('TweetsController', function($scope,Handle) {
          $scope.handles = Handle.query();
          $scope.activeHandle = null;

          $scope.activeHandleUpdated = function() {
            if ($scope.activeHandle) {
              $scope.activeHandle.$update();
            }
          };

          $scope.getLinkClass = function(handle) {
            return $scope.activeHandle && handle.slug == $scope.activeHandle.slug;
          }

          $scope.chooseHandle = function(handle) {
            $scope.activeHandle = handle
          }

          $scope.isActiveHandle = function() {
            return !(!$scope.activeHandle);
          }
        });
    </script>
  </body>
</html>
